<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Veerapat</title>
</head>
<body>
    <h1>This's NodeJS and EJS Workshop</h1>
    <h2>It's very fun</h2>
    <p>By Mr.Veerapat Bunkwang</p>
    <p><%=UserId %></p>
    <p><%=status %></p>
    <% obj_user_list.forEach(function(user_list){ %>
       <p><%= user_list.name %>
          <%= user_list.address %>
          <%= user_list.birth_tear %>
       </p>
    <% }) %>
</body>
</html>